.App {
  text-align: center;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  flex-direction: column;
  width: 70%;
}

.weather-day-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.095);
  border: none;
  border-radius: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  height: auto;
  padding: 20px;
}

.week-container {
  display: flex;
  justify-content: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.095);
  border-radius: 20px;
  padding: 20px;
}
