.weather-day-card.card {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  padding: 10px;
  position: relative;
  width: 100%;
}

.weather-location {
  font-size: 64px;
  font-weight: 600;
}

.weather-date {
  margin-bottom: 40px;
  font-size: 28px;
}

.weather-icon {
  width: 100px;
  height: 100px;
}

.weather-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 40px;
}

.temp-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  color: #000;
  position: absolute;
  top: 0px;
  right: 0px;
}

.weather-temperature {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 0;
}

.weather-description {
  font-size: 32px;
  margin-bottom: 16px;
}

.weather-extra-info {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.weather-extra-info:first-child {
  margin-right: 15px;
}

.bold {
  font-weight: 600;
}

.weather-feelslike {
}

.weather-humidity {
}

.weather-wind {
}

.weather-row {
  display: flex;
  gap: 50px;
  width: 100%;
}
