.searchbar {
  background-color: transparent;
  position: absolute;
  top: 5;
  left: 5;
  z-index: 1;
  width: auto;
  font-size: 14px;
}

.search-input {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 12px;
  padding: 2px 8px;
  margin-right: 5px;
}

.search-input:focus {
  outline: 1px solid black;
}

.search-btn {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 12px;
  padding: 2px 8px;
  transition: all 0.2s ease-in-out;
  font-weight: 500;
}

.search-btn:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}
