.week-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.095);
  border-radius: 20px;
  padding: 20px;
}

.week-card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.week-day {
  font-size: 22px;
  font-weight: 600;
}

.week-temperature {
  font-size: 18px;
  font-weight: 500;
}

.week-description {
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  font-weight: 400;
}

.week-icon {
  margin-top: 10px;
}

.week-icon img {
  width: 48px;
  height: 48px;
}
